USE [master]
GO
/****** Object:  Database [Web_MyPham_Quyzz]    Script Date: 10/17/2024 3:07:37 AM ******/
CREATE DATABASE [Web_MyPham_Quyzz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web_MyPham_Quyzz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Web_MyPham_Quyzz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web_MyPham_Quyzz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Web_MyPham_Quyzz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web_MyPham_Quyzz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web_MyPham_Quyzz]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](max) NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC_SAN_PHAM]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC_SAN_PHAM](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[AnhDanhMuc] [nvarchar](max) NULL,
	[TenDangMuc] [nvarchar](max) NULL,
 CONSTRAINT [PK_DANH_MUC_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH_ANH]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH_ANH](
	[MaHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[AnhChinh] [bit] NULL,
	[MaSanPham] [int] NULL,
 CONSTRAINT [PK_HINH_ANH] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayMua] [datetime2](7) NOT NULL,
	[TongTien] [real] NULL,
	[TenKhachHang] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[ThanhPho] [nvarchar](80) NULL,
	[Quan_Huyen] [nvarchar](80) NULL,
	[Xa_Phuong] [nvarchar](80) NULL,
	[Ghi_Chu] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NULL,
	[Thanh_Toan] [int] NULL,
	[SoLuong] [int] NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_CHI_TIET]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_CHI_TIET](
	[MaHDCT] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongMua] [int] NULL,
	[GiaBan] [real] NULL,
	[MaHD] [int] NULL,
	[MaSP] [int] NULL,
 CONSTRAINT [PK_HOA_DON_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[MaHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM_CHI_TIET]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM_CHI_TIET](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[HinhAnhChinh] [nvarchar](max) NULL,
	[GiaGoc] [real] NULL,
	[GiaSale] [real] NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
	[PhanTramSale] [real] NULL,
	[isSale] [bit] NOT NULL,
	[isHome] [bit] NOT NULL,
	[TrangThai] [int] NULL,
	[MaDanhMuc] [int] NULL,
 CONSTRAINT [PK_SAN_PHAM_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 10/17/2024 3:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MaUser] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[MaChucVu] [int] NOT NULL,
	[SDT] [nvarchar](max) NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_HINH_ANH_MaSanPham]    Script Date: 10/17/2024 3:07:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_HINH_ANH_MaSanPham] ON [dbo].[HINH_ANH]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HOA_DON_CHI_TIET_MaHD]    Script Date: 10/17/2024 3:07:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_HOA_DON_CHI_TIET_MaHD] ON [dbo].[HOA_DON_CHI_TIET]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HOA_DON_CHI_TIET_MaSP]    Script Date: 10/17/2024 3:07:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_HOA_DON_CHI_TIET_MaSP] ON [dbo].[HOA_DON_CHI_TIET]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAN_PHAM_CHI_TIET_MaDanhMuc]    Script Date: 10/17/2024 3:07:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_SAN_PHAM_CHI_TIET_MaDanhMuc] ON [dbo].[SAN_PHAM_CHI_TIET]
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TAI_KHOAN_MaChucVu]    Script Date: 10/17/2024 3:07:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_TAI_KHOAN_MaChucVu] ON [dbo].[TAI_KHOAN]
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HINH_ANH]  WITH CHECK ADD  CONSTRAINT [FK_HINH_ANH_SAN_PHAM_CHI_TIET_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SAN_PHAM_CHI_TIET] ([MaSP])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HINH_ANH] CHECK CONSTRAINT [FK_HINH_ANH_SAN_PHAM_CHI_TIET_MaSanPham]
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_CHI_TIET_HOA_DON_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET] CHECK CONSTRAINT [FK_HOA_DON_CHI_TIET_HOA_DON_MaHD]
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_CHI_TIET_SAN_PHAM_CHI_TIET_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM_CHI_TIET] ([MaSP])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HOA_DON_CHI_TIET] CHECK CONSTRAINT [FK_HOA_DON_CHI_TIET_SAN_PHAM_CHI_TIET_MaSP]
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CHI_TIET_DANH_MUC_SAN_PHAM_MaDanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DANH_MUC_SAN_PHAM] ([MaDanhMuc])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SAN_PHAM_CHI_TIET] CHECK CONSTRAINT [FK_SAN_PHAM_CHI_TIET_DANH_MUC_SAN_PHAM_MaDanhMuc]
GO
USE [master]
GO
