<main>
    <div class="banner">
        <a href="#"><img src="assets/client/images/banner1.jpg" alt=""></a>
        <a href="#"><img src="assets/client/images/banner2.jpg" alt=""></a>
        <a href="#"><img src="assets/client/images/banner3.jpg" alt=""></a>
    </div>
    <div class="container">
        <div class="menu">
            <div class="menu-1">
                <h3 class="menu_title">DANH MỤC SẢN PHẨM</h3>
                <ul>
                    <li>
                        <a href="#">Chăm sóc da</a>
                    </li>
                    <li>
                        <a href="#">Chăm sóc cơ thể</a>
                    </li>
                    <li>
                        <a href="#">Chăm sóc tóc</a>
                    </li>
                </ul>
            </div>
            <div class="menu-2">
                <h3 class="menu_title"><a href="">LOẠI SẢN PHẨM</a></h3>
                <ul>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Kem dưỡng da</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Serum</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Sữa rửa mặt</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Tẩy trang</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Toner</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Treatment</a>
                    </li>
                </ul>
            </div>
            <div class="menu-2">
                <h3 class="menu_title"><a href="">CHỌN MỨC GIÁ</a></h3>
                <ul>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Dưới 100.000đ</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Từ 100.000đ - 300.000đ</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Từ 300.000đ - 500.000đ</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Từ 500.000đ - 700.000đ</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Trên 700.000đ</a>
                    </li>
                </ul>
            </div>
            <div class="menu-2">
                <h3 class="menu_title"><a href="">LOẠI DA</a></h3>
                <ul>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Da dầu</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Da khô</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Da nhạy cảm</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Da thường</a>
                    </li>
                    <li>
                        <input type="checkbox" name="" id="">
                        <a href="#">Da hỗn hợp</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="products">
            <div class="daily-hot-deals-content-gird">
                <ul class="daily-hot-deals-content-row">
                    <li class="daily-hot-deals-content-item" data-name="a-5" *ngFor="let item of SanPhamChiTiet">
                        <img src="{{item.hinhAnhChinh}}" alt="">
                        <div class="background"></div>
                        <div class="content">
                            <a href="client/productdetail/{{item.maSP}}"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="#">Mua ngay</a>
                        </div>
                        <div class="product_detail">
                            <a href="client/productdetail/{{item.maSP}}"><i class="fa-regular fa-heart"></i></a>
                            <a href="client/productdetail/{{item.maSP}}">{{item.tenSanPham}}</a>
                            <div class="price">
                                <p class="cost">305.000đ</p>
                                <p class="sale">300.000đ</p>
                                <p class="discount">-20%</p>
                            </div>
                            <h5>Có 2 lựa chọn quà tặng khi mua sp</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>